<a href="https://colab.research.google.com/github/Rohithtechis/Project-in-Data-Procesing/blob/main/Project_on_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Load the data. Data is already given to you in variable path
import numpy as np
import pandas as pd
df=pd.read_csv('/content/KAG_Conversion_Data.csv')
df

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0      708746              916  ...                 2                   1
1      708749              916  ...                 2                   0
2      708771              916  ...                 1                   0
3      708815              916  ...                 1                   0
4      708818              916  ...                 1                   1
...       ...              ...  ...               ...                 ...
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[1143 rows x 11 columns]

In [3]:
#How many unique ad campaigns (xyzcampaignid) does this data contain ? And for how many times was each campaign run ?
df.xyz_campaign_id.unique()
df.groupby(['xyz_campaign_id']).count()

                 ad_id  fb_campaign_id  ...  Total_Conversion  Approved_Conversion
xyz_campaign_id                         ...
916                 54              54  ...                54                   54
936                464             464  ...               464                  464
1178               625             625  ...               625                  625

[3 rows x 10 columns]

In [8]:
#What are the age groups that were targeted through these ad campaigns?
a=df.age.max()
b=df.age.min()
print('The age group trageted through this camoaigns are',b,a)

The age group trageted through this camoaigns are 30-34 45-49

In [10]:
#What was the average, minimum and maximum amount spent on the ads?
c=df.Spent.mean()
d=df.Spent.max()
e=df.Spent.min()
print('Avg time spent is',c)
print('min time spent is',e)
print('max time spent is',d)

Avg time spent is 51.36065613141293
min time spent is 0.0
max time spent is 639.9499981

In [12]:
#What is the id of the ad having the maximum number of clicks ?
a=df.Clicks.max()
b=df.ad_id[a]
print('The id of add having the maximun nimber of cliks is',b)

The id of add having the maximun nimber of cliks is 782587

In [17]:
#How many people bought the product after seeing the ad with most clicks? Is that the maximum number of purchases in this dataset?
a=df.Clicks.max()
c=df.Approved_Conversion.max()
b=df.ad_id[a]
d=df.ad_id[c]
print('Number of people bought the product after seeing the add with most clicks is', c)
if b==d:
 print('yes it is maximun number of purchases')
else:
 print('no it is not the maximum number of purchases')

Number of people bought the product after seeing the add with most clicks is 21
no it is not the maximum number of purchases

In [19]:
#So the ad with the most clicks didn't fetch the maximum number of purchases. Find the details of the product having maximum number of purchases
a=df.Approved_Conversion.max()
b=df.ad_id[a]
print('max purchases is',a ,'\n ad id is',b)

max purchases is 21
 ad id is 709323